<% include ../layout %>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Danh sách diễn viên</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>Tên diễn viên</th>
                        <th>Ảnh</th>
                        <th>Ngày sinh</th>
                        <th>Nơi sinh</th>
                        <th>Quốc tịch</th>
                        <th>Chiều cao</th>
                        <th>Cân nặng</th>
                        <th>Nghề nghiệp</th>
                        <th>Hoạt động </th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0 ; i<data.length ; i++) { %>
                        <tr>
                            <td><%=i+1%></td>
                            <td><%=data[i].TenDienVien%></td>
                            <td><img style="width: 100px;" src="../img/<%=data[i].Anh_DV%>"></td>
                            <td><%=data[i].NgaySinh%></td>
                            <td><%=data[i].NoiSinh%></td>
                            <td><%=data[i].TenQuocTich%></td>
                            <td><%=data[i].ChieuCao%></td>
                            <td><%=data[i].CanNang%></td>
                            <td><%=data[i].TenNgheNghiep%></td>
                            <td><%=data[i].HoatDong%></td>
                            <td><a href="/admin/dienvien/sua/<%=data[i].ID_DienVien%>">Sửa</a></td>
                            <td><a onclick="return Del('<%=data[i].TenDienVien%>')" href="/admin/dienvien/xoa/<%=data[i].ID_DienVien%>">Xóa</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
                <a class="btn btn-primary" href="/admin/dienvien/them">Thêm diễn viên</a>
        </div>
    </div>
</div>

<script>
    function Del(name)
    {
        return confirm("Bạn có chắc chắn muốn xóa diễn viên:" + name +"?");
    }
</script>