<% include ../layout %>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Danh sách đạo diễn</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>Tên đạo diễn</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0 ; i<data.length ; i++) { %>
                    <tr>
                        <td><%=i+1%></td>
                        <td><%=data[i].TenDaoDien%></td>
                        <td><a href="/admin/daodien/sua/<%-data[i].ID_DaoDien%>">Sửa</a></td>
                        <td><a onclick="return Del('<%-data[i].TenDaoDien%>')" href="/admin/daodien/xoa/<%-data[i].ID_DaoDien%>">Xóa</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
                <a class="btn btn-primary" href="/admin/daodien/them">Thêm đạo diễn</a>
        </div>
    </div>
</div>

<script>
    function Del(name)
    {
        return confirm("Bạn có chắc chắn muốn xóa đạo diễn:" + name +"?");
    }
</script>